.header{
	width: 100%;
	height: 400px;
	background-image: url('../img/header.jpg');
	background-position: center 0;
    background-size: cover;
    position: relative;
    padding: 138px 0 0;
}
.yinwen{
    font-weight: 700;
    color: #fff;
    font-size: 64px;
    line-height: 1.1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.zhongwen{
	color: #fff;
    padding: 0;
    margin: 0 0 45px;
    font-weight: 100;
    font-size: 34px;
    margin-top: 30px;
    text-align: center;
}
.icon{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -34px;
}
.img_icon{
	text-align: center;
}
.img_icon img{
	width: 78px;
	display: inline-block;
}
.content{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 12px;
	margin-bottom: 30px;
	box-shadow: 0 0 1px #8a8a8a;
}
.main{
	margin-top: 90px;
}
body{
	background-color: #f2f2f2;
}
.imgbox{
	width: 100%;
	height: auto;
	padding-top: 62.57%;
	position: relative;
}
.imginner{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.imginner img{
	width: 100%;
}
.title{
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 24px;
	color: #777;
	cursor: pointer;
}
.yeshu{
    display: block;
    position: relative;
    text-align: center;
    font-size: 13px;
    margin: 20px 0;
}
.yeshu_number{
	color: #39414a;
}
.xiayiye{
	border: 1px solid #39414a;
    position: absolute;
    top: -10px;
    right: 10px;
    padding: 10px;
    color: #39414a;
    border-radius: 3px;
    cursor: pointer;
}
.submit{
	background-color: #eee;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
}
.submit_wenzi{
    font-size: 10px;
    text-align: center;
}
.submit_wenzi p{
    margin: 0 0 10px;
}
.footer{
    background: #202020;
    padding: 35px 0 0;
}
.item{
	padding: 0 30px;
	margin-bottom: 35px;
}
.title1{
	color: #ffffff;
    border-bottom: 1px solid #303030;
    padding-bottom: 7px;
    margin-bottom: 21px;
    position: relative;
    font-size: 18px;
    text-align: left;
}
.title1:after{
    content: "";
    width: 90px;
    height: 1px;
    background: #337ab7;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.lianjie{
	border: 1px solid #303030;
	padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    transition: all .2s ease;
    text-decoration: none;
}
.lianjie1{
	display: block;
    border-bottom: 1px dashed #303030;
    padding-bottom: 14px;
    margin-bottom: 0;
    color: #959595;
    transition: all .2s ease;
}
.yinwen:hover{
	text-decoration: underline;
}
img{
	cursor: pointer;
}
.content .title:hover{
	text-decoration: underline;
	color: #222;
}
.xiayiye:hover{
    border-color: #666;
    color: #fff;
    background: #4A4849;
}
.lianjie:hover{
	color: #ffffff;
    background: #337ab7;
    border: 1px solid #337ab7;
    text-decoration: none;
}
.copyright{
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555;
    padding-top: 14px;
    padding-bottom: 20px;
    border-top: 1px solid #303030;
}
.copyright a{
    color: #555;
    text-decoration: none;
}
.copyright a:hover{
	text-decoration: underline;
}